<h1>Listing awesomes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awesomes.each do |awesome| %>
      <tr>
        <td><%= awesome.name %></td>
        <td><%= link_to 'Show', awesome %></td>
        <td><%= link_to 'Edit', edit_awesome_path(awesome) %></td>
        <td><%= link_to 'Destroy', awesome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Awesome', new_awesome_path %>
